/// @type Color
$o-test-component-main-color: hotpink;

/// B2b variant colour.
/// @type Color | Null
$o-test-component-b2b-color: blue;

/// @type Color
/// @alias $main-color
$o-test-component-primary-color: $o-test-component-main-color;

/// @type Map
$features: ('big', 'small');

/// @todo Integrate scale with size related mixins.
/// @type Map
/// @prop {Map} base.marketing
/// @prop {Map} base.default
/// @prop {Number} base.default.miniture
/// @prop {Number} base.default.normal
/// @prop {Number} base.default.massive
/// @prop {Number} base.marketing.miniture
/// @prop {Number} base.marketing.normal
/// @prop {Number} base.marketing.massive
$o-test-component-scales: (
    'marketing': (
        'miniture': -5,
        'normal': 6,
        'massive': 15,
    ),
    'default': (
        'miniture': -10,
        'normal': 1,
        'massive': 10,
    ),
);
